/*-----Styles from hints-----*/
h1 {font-size:1.25em;
}

h2, h3 {font-size: 1em;
}

p, dl, dd {font-size: 1em;
}

footer p {font-size: .75em;
}

html{
    background: #020659 ;

} 
/*-----page-----*/
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    max-width: 834px;
    background: white;
    color:white;
}
/*-----navigation-----*/
nav{
    background-color: #030A8C;
    width: 834px;
    height: 65px;
    position:absolute;
    top: 0px;       
}

nav ul{
    display: flex;
    list-style-type: none;   
}
nav ul li{
    flex: 1 1 100%;
    text-align: center;   
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
    text-transform: uppercase;
}

li:first-child a {
    font-weight: bold;
    font-size: x-large;
    justify-content:left;
    text-transform: none;
    padding: none;
    margin-left:0px;
   
  }
  /*-----H1 P H2-----*/
  h1{
    margin-top: 75px;
    text-transform: capitalize;
  }
  p{
    margin-top:0;
  }

  header{
    background-image: linear-gradient(to right,#2104D9,#020873,#020659,black);
    color: white;
    padding: 1px 35px;
  }
  header h1{
    text-transform: uppercase;
  }
  h2{
    text-transform: uppercase;
    color:#590424;
    margin: 30px 30px 5px;
  }
  /*---trending songs---*/

audio::-webkit-media-controls-mute-button {
background-color: white;
color: black;
border-radius: 50%;

}
audio::-webkit-media-controls-play-button {
color: black;
background-color: white;
border-radius: 50%;


}


.scroll{
 display: grid; 
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 overflow-x: auto;
 overflow-y: hidden;
 height: 400px;

 
}

.scroll section{
    margin: 10px;
    position:relative;


}
.scroll div{
    position:absolute;
    top: 251px;
    background-color: rgb(255 255 255/50%);
    height: 50px;
    width: 350px;
   color:#590242;
  display: grid;

}
.scroll h3{
    top: 5px;
    margin: 0;
}

dt{
    padding-right: 5px;
}
.scroll dl{
    background-color: rgb(255 255 255/50%);  
    top:10px;
    display:inline;
    float:left;
   
}

.scroll dt{
    font-style: italic;
    grid-column-start: 1;
}

.scroll dd{
    grid-column-start: 2;
}
audio{
    position:absolute;
    bottom: 200px;
    left: 5px;
    float: left;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgb(255 255 255/50%) ;
    float:left;


}
audio::-webkit-media-controls-mute-button {
    background-color: white;
    color: black;
    border-radius: 50%;
    
    }
audio::-webkit-media-controls-play-button {
    color: black;
    background-color: white;
    border-radius: 50%;
    }

#trending::-webkit-scrollbar-track {
        box-shadow: inset 0 0 15px #590242;
    }
#trending::-webkit-scrollbar-thumb {
        background: #590242;
        border-radius: 5px;
    }
#trending::-webkit-scrollbar-thumb:hover {
        background: #020659;
    }
#trending{
    height: 350px;
}
#more{
    position: relative;
    float: right;
    right: 3px;
    margin: 5px;

}
#more a{
    color: white;
    background-color: #590242;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
}

#playlists{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 834px;
    margin-top:15px;
   

}
#playlists h3{
    font-weight: bold;
    text-align: center;
}
.your div{
    height: 400px;
    overflow:scroll;
    display:flex;
    flex-direction:column;
    background-color:#2699fb;
    color: white;
    text-align: center;
}

.your img{
    float:left;
}
.your section{
    margin: 5px;
    background-color:#0d8dfb;
    text-align: center;
}
.your section h3{
    font-weight: bold;
    text-transform: uppercase;
}
.your aside{
    float:right;
}
.your aside a{
    background-color:#590242;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
}

.curated div{
    height: 400px;
    overflow:scroll;
    display:flex;
    flex-direction:column;
    background-color:#030A8C;
    color: white;
    text-align: center;
}

.curated img{
    float:left;
}
.curated section{
    margin: 5px;
    background-color: #020873;
}
.curated section h3{
    text-transform: uppercase;
}
.curated aside{
    float:right;
}
.curated aside a{
    background-color:#590242;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
}
footer{
   margin:75px;

}
footer p{
    text-align: center;
   padding-bottom: 20px;
    color: #590242;
}