h1 {font-size:1.25em;
}

h2, h3 {font-size: 1em;
}

p, dl, dd {font-size: 1em;
}

footer p {font-size: .75em;
}

html{background: #020659 ;
} 
html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0 auto;
    max-width: 834px;
    background: white;
    font:white;
}
nav{
    display: inline-flex;
    position: absolute;
    top: 0px;
}
